.main {
  background-image: url(bg.jpg);
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#dong_ho #thoi_gian{
  display:flex;
}

#time {
  position: relative;
  display: flex;
}

#time_input {
  display: inline-flex;
  margin-left: 133px;
}

.time_count{
  position: relative;
  width: 100%;
  height: 100px;
  background: #2196f3;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  z-index: 3;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
}

